###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

# documentation
/docs/src/build
/web/docs

# PHPStorm config.
/.idea
/public/yarn/.yarn-integrity
/public/yarn
*.sql
/config/deploy.yaml
/public/js/jquery.collection.js
/data
/public/docs
/public/images/caps
/public/fonts/
/public/css/fonts.css
src/.preload.php
