###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

# documentation
/docs/src/build
/web/docs

# PHPStorm config.
/.idea
.yarn-integrity
public/yarn
config/deploy.yml
*.sql
deploy.yaml
jquery.collection.js
data
public/docs
public/images/caps
