@media (max-width: 768px) {

 
 #logo{
    font-size: 4rem;
    right: 1rem;
    top:5rem;
    width:5rem;
    text-align:center;
    line-height:1;
    height:4.5rem;
 }
  .main {
    padding: 0 3%;
  }
  .jumbotron > .container > h1 {
    margin-top: 4rem;
  }

  .card {
    flex: 0 1 40%;
  }

  .card img {
    min-width: $card-width * 0.65 !important;
  }

  .profile {
    flex: 1 1 45% !important;
  }

  .navbar-nav > li::after {
    content: unset !important;
  }

}
