/**
 * Namespaces 
 * 
 **/

@use 'sass:map';

/**
 * Imports 
 * 
 **/
@import "_variables.scss";
@import "_scale.scss";
@import "_mixins.scss";

@import "_keyframes.scss";

/**
 * Basic body styles 
 * 
 **/

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $rootSize;
}

body {
  font-family: "Roboto";
  line-height: 1.6;
  background-color: #f9f9f9;
  color: $text-color;
  overflow-x:hidden;
 
}

.main {
  min-height: 100vh;
  padding-bottom:10vh;
  margin-bottom:2rem;
}

/**
 * Index page 
 * 
 **/

.index {
  font-size: 18px;
}

#splash {
  background: url("../images/triangles.png");
  background-size: cover;
  overflow: hidden;
  height: 80vh;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 3rem));
  text-transform: uppercase;
  color: white;
  .splash-images {
    display: block;
    position: absolute;
    top: 62vh;
    height: 35vh;
    left: 40vw;
  }
  h1 {
    max-width: 65%;
    line-height: 1.2;
    margin-top: 5rem;
    font-size: 4rem;
    
  }
}

#logo{
    position: absolute;
    border: 6px solid rgba(#FBF4F4,0.8);
    border-radius:2px;
    font-family: "PT Sans";
    font-size: 10rem;
    top: 7.5rem;
    right: 10%;
    width:14rem;
    text-align:center;
    line-height:1.3;
    height:13rem;

}


#index-about {
  margin-top: -5rem;
  line-height: 1.8;
}

/**
 * Bootstrap overrides 
 * 
 **/

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/**
 * Headers 
 * 
 **/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Sans";
  line-height: 1.6;
}

/* Quick SASS formula for creating heading scale */
@for $i from 1 to 6 {
  h#{$i} {
    font-size: map.get($typescale, $i);
  }
}

/* Special headings */

h2.figuration-link-heading {
  font-size: map.get($typescale, 5);
  margin-top: -0.2em;
  font-weight: bold;
}

.fig-desc{
    font-size: map.get($typescale, 6) * 1.05;
    max-width: 55rem;
    line-height: 1.8;
    margin-left: map.get($typescale, 3);
    
}

/**
 * Links 
 * 
 **/
.container a {
  color: inherit;
  border-bottom: 0.1rem solid rgba($yt-red, 0.75);
  text-decoration: none;
}

.card h5 {
  font-size: map.get($typescale, 6) * 1.2;
  line-height: 1.4;
}

.card .figuration-link {
  font-size: map.get($typescale, 6);
}

.card > a:first-child,
a.btn,
.card h5 > a,
.navbar a {
  border-bottom: none;
}
.container a:hover {
  border-bottom-color: rgba($yt-red, 0.95);
  transition: border-bottom 0.2s ease-in-out;
  text-decoration: none;
}

.yt-row{
    background:rgba(#efefef, 0.5);
    .yt{
        margin-top:map.get($typescale, 2);
        margin-bottom: map.get($typescale, 2);
    }
}



/**
 * Responsive iframe 
 * 
 **/

/*
 * This is a special way to make the video iframes responsive;
 * credit goes to https://benmarshall.me/responsive-iframes/
 * for the code.
 * 
 */
.iframe-container {
  overflow: hidden;
  /* Calculated by the aspect ratio (i.e 9/16) */
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

}


/**
 * Navigation 
 * 
 **/

nav.navbar-default {
  font-size: map.get($typescale, 5);
  background: $ps-black !important;
  color: #ffffff !important;
  border: none !important;
  width:100vw;
  box-shadow: none !important;
  .icon-bar{
      background-color: white!important;
  }
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > li > a {
        background: $ps-black !important;
        color: #ffffff !important;
        border: none !important;
        box-shadow: none !important;

}


  .dropdown-menu{
      background: $ps-black;
      & > li > a:hover{
          background: rgba($ps-black, 0.7);
      }
  }

.navbar-toggle{
    margin-right:2rem;
    &:hover {
        background-color: $yt-red;
    }
    &[aria-expanded='true']{
        background-color: $yt-red;
    }
    &:focus{
        background:$yt-red;
    }
}

.navbar-nav > li::after {
  content: "";
  display: block;
  height: 4px;
  width: 0px;
  margin: 0 auto;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.navbar-nav > li:hover::after,
.navbar-nav > li.open::after {
  width: 100%;
  background: $text-color-inverse;
}
a{
      color: #ffffff !important;
}
  
}




.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .open > a {
  color: $text-color-inverse;
  border-bottom-color: $text-color-inverse;
}


/**
 * 
 * Bibliography lists
 * */
 details{
     margin-top:1.5rem;
     padding-top:.75rem;
     border-top: 2px solid #efefef;
 }
 
 summary{
     font-style:italic;
 }
 
 .bibliography{
     list-style-type:none;
     margin-left:.5rem;
     padding-left:0;
     & > li{
         text-indent:-1.5rem;
         margin-left:1.5rem;
         margin-top:1rem;
     }
 }


/**
 * Paginator 
 * 
 **/

.pagination {
  text-transform: lowercase;
  font-variant: small-caps;
  display: flex;
  justify-content: flex-end;
  border-radius: none;
  & > li {
    display: inline-block;
    &:nth-of-type(n + 1) {
      padding-left: 0px;
    }
    & > a {
      border-color: #dcdcdc;
      color: $text-color;
      border-radius: 0 !important;
    }
    &.page-item.disabled > a {
      background: #d4dade;
      color: #696b6d;
    }
    &.active > a{
      background: $ps-black;
      border-color: $ps-black;
    }
    &.active:hover > a{
        background: #d4dade; 
        color: #696b6d;
    }
    &:hover > a{
        background: $ps-black;
        color:white;
    }
  }
}

/**
 * Screenshots
 * 
 * 
 **/
 #screenshots{
     strong{
         font-size:map.get($typescale, 5);
     }
 }
 #screenshotsContent{
     display:flex;
     flex-wrap:wrap;
     .screenshot, .empty{
        flex:1 1 30%;
        max-width: 25rem;
        min-width: 15rem;
        margin:map.get($typescale, 6) map.get($typescale, 5);
        }
     .empty{
         order:2!important;
     }
     .participant{
         margin-top: map.get($typescale, 7);
         > span{
             font-weight:bold;
         }
     
     }

 }
 
 
 
 .screenshot img{
    height:auto;
     max-width:100%;
 }
 

/* Screenshots when filtered */

.filtered {
    .screenshot:not(.selected){
        order:2;
        opacity:0.4;
        img {
            filter: grayscale(100%);
        }
    }
   
    
}


.checkboxes{
    display:flex;
    .heading{
       align-self:center;
       margin-right:1rem;
   }
   margin-bottom:map.get($typescale, 4);
}


#screenshots label{
    padding:map.get($typescale, 9) map.get($typescale, 9);
    background: #efefef;
    margin:map.get($typescale, 9);
     input{
        margin-left:0;
    }
    span{
        margin-left:1.5rem;
    }
}



/**
 * Panels
 * 
 * Video display panels, used in Figurations and Playlists 
 * 
 **/

.panel {
  box-shadow: 0px 2px 4px rgba(241, 241, 241, 0.1),
    0px 3px 6px rgba(0, 0, 0, 0.15);
  background: #ffffff;
  border-radius: 0;
}
.panel-default .panel-heading {
  font-size: map.get($typescale, 5);
  background: #e2e2e2;
  border: none;
  border-radius: 0;
  font-weight: bold;
  display:flex;
  justify-content:space-between;
  a{
      border-bottom:none;
  }
}

.panel-heading-count {
  float: right;
  color: $ps-black;
  font-size: map.get($typescale, 6);
  font-weight: normal;
}

.panel-body {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  .card{
      margin-right: 1rem;
  }
}

.panel-see-more::before {
  content: "\002b";
}

/**
 * Gallery
 * 
 * Flat gallery of videos
 * 
 **/

.video-gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  .card,
  .empty{
    flex: 1 1 20%;
    margin:map.get($typescale, 8);
    min-width: $card-width * 0.7;
  }
}


/**
 * Video cards 
 * 
 **/




.card {
  display: flex;
  flex-direction: column;
  
  padding: 0;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(241, 241, 241, 0.1),
    0px 3px 6px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  justify-self: flex-start;
  .panel-body & {
    flex: 0 0 $card-width;
  }
}

.card:hover {
  box-shadow: 0px 2px 4px rgba(241, 241, 241, 0.1),
    0px 3px 6px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.2s ease-in-out;
}

.card-title {
  font-weight: bold;
}

.card img {
  min-width: $card-width;
  width:100%;
}

.card-body {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 95%;
}

.figuration-link {
  margin-top: auto;
  margin-bottom: map.get($typescale, 7);
  font-weight: bold;
}

.card .card-img-link {
  height: 112%;
  overflow: hidden;
}
.card img {
  transform: scale(1);
  transition: transform 0.32s ease-in-out;
}

.card:hover img {
  transform: scale(1.05);
}

.card.see-more {
  box-shadow: none;
  font-size: map.get($typescale, 4);
  justify-content: center;
}

.card.see-more:hover {
  box-shadow: none;
}

.card.see-more > a {
  align-self: center;
}


td ul > li:not(.tag){
    
    padding-bottom: map.get($typescale, 9);
    
}
/**
 * Keyword tags 
 * 
 **/

td ul.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

li.tag {
  display: block;
  margin: 0.4rem;
  
  border-radius: 0.25rem;
  background: #ffffff;
  color: #000000;
  flex:0 1 auto;
  display:flex;
  border: 1px solid #efefef;
  transition: background-color 0.2s ease-in-out;
  &:hover {
    background: #efefef;
    &::before {
      opacity: 1;
    }
  }
  &::before {
    content: "\e041";
    font-family: "Glyphicons Halflings";
    margin-right: 0.25rem;
    margin-top: 0.45rem;
    font-size: 0.9em;
    opacity: 0.7;
    padding: 0.25rem;
    transition: opacity 0.2s ease-in-out;
  }

  & > a {
    border-bottom: none !important;
    padding-top:map.get($typescale, 8);
    padding-bottom:map.get($typescale, 8);
    padding-left:0;
    padding-right: map.get($typescale, 6);  
    height:100%;
    width:100%;
  }
}

/**
 * Caption tabs 
 * 
 **/

#captions .tab-content,
#description .description-content{
  min-height: 20rem;
  height: 20rem;
  overflow-y: scroll;
  resize: vertical;
}


/**
 * Profiles 
 * 
 **/

#profilesContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.profile {
  flex: 0 0 30%;
  
}

.profile,
.screenshot{
    margin: map.get($typescale, 7);
  box-shadow: 0px 2px 4px rgba(241, 241, 241, 0.1),
    0px 3px 6px rgba(0, 0, 0, 0.15);
  padding: map.get($typescale, 8) map.get($typescale, 8);
  border-radius: 0.5rem;
}

.screenshotContent{
    display:flex;
    justify-content:center;
    flex-direction:column;
}

a.image,
a.image:hover{
    border-bottom:none;
}

.container.video {
  box-shadow: 0px 2px 4px rgba(241, 241, 241, 0.1),
    0px 3px 6px rgba(0, 0, 0, 0.15);
  background: #ffffff;
  border-radius: 0.5rem;
}

.details {
  border-top: 0.5rem solid rgba($ps-black, 0.1);
  
  &:not(.video-show-description) {
    padding: map.get($typescale, 6);
    margin: map.get($typescale, 5) 0;
  }
  
  & .table > tbody > tr:first-child > * {
    border-top: none;
  }
  
  & > h3{
      cursor:pointer;
      &:before{
          content:"\e080";
        font-family: "Glyphicons Halflings";
        font-size: 1rem;
        margin-right:1rem;
        position: relative;
        top: -.25rem;
        color: $ps-black;
         opacity:0.5;
        display:inline-block;
        transform: rotate(90deg);
        transition: transform 0.2s ease-in-out,
                  opacity 0.4s ease-in-out;
      }
      &:hover:before{
          opacity:1;
      }
   }
    &.closed{
      *:not(h3){
          display:none;
      }
      h3::before{
        transform: rotate(0);
      }
  }
}


.video-show-description > h3 {
  margin-top: 0;
}

.description-content {
  height: 270px;
  overflow-y: auto;
}

body > .container {
  padding-top: 70px;
  flex: 1;
  flex-wrap: wrap;
}

body > .container.video {
  padding-top: 0;
  margin-top: 5rem;
}

/* Custom app styles */

label.required::after {
  content: " *";
  color: red;
  font-weight: bold;
}

#toc > .btn-group{
    margin-top:map.get($typescale, 2);
    margin-bottom: map.get($typescale, 6);
   display:flex;
   flex-wrap:wrap;
    a{
        border-radius:0!important;
    }
}

/**
 * Buttons
 * 
 **/

h2 + .btn-toolbar{
    margin-top:-4rem;
    margin-bottom:4rem;
    margin-right:2rem;
}


.btn.btn-default {
  background: #95090c;
  color: white;
  text-shadow: none;
  font-weight: 500;
  font-size: map.get($typescale, 6) * 1.1;
  text-transform: lowercase;
  font-variant: small-caps;
}

th .btn{
    margin-top:1rem;
}

/**
 * Link markers 
 * 
 * Markers for links, like mailto: and such
 * 
 **/
a[href^="mailto:"]::after {
  content: "\2709";
  position: relative;
  top: 1px;
  display: inline-block;
  padding-left: 0.5ex;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a[href^="mailto:"]::after {
  content: "\2709";

  position: relative;
  top: 1px;
  display: inline-block;
  padding-left: 0.5ex;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a[href ^= 'http://']::after,
a[href ^= 'https://']::after
{
  content: "\e164";

  position: relative;
  top: 1px;
  display: inline-block;
  padding-left: 0.5ex;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




/**
 * Video sorter 
 * 
 **/

p.count .sorted {
  font-weight: bolder;
}

p.count .sorted.desc:after {
  content: "\25B2";
}

p.count .sorted.asc:after {
  content: "\25BC";
}

/**
 * Private info stuff 
 * 
 **/
.user-user {
  outline: 1px solid red;
  background-color: lightpink;
}
.user-user * {
  background-color: transparent !important;
}

/**
 * Footer
 * 
 **/
 

footer.footer{
    padding: map.get($typescale, 3) 0;
    background: url("../images/triangles.png");
    background-size: cover;
    z-index:50;
    display:flex;
    flex:0 1 60rem;
    list-style:none;
    
    a {
        color: white;
        text-shadow:none;
    }

    .container{
        justify-content:space-between;
        align-items: flex-start;
        display:flex;
        flex-direction:row;
        padding-bottom:map.get($typescale, 4);
    }

    ul{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        margin-left:0;
        padding-left:0;
        font-size: map.get($typescale, 5);
    }
    li{
        margin-left:0;
        padding-left:0;
        margin-bottom: map.get($typescale, 10);
    }
    
    a{
        border-bottom:none;
    }
    
    img{

        width:50%;
        filter: brightness(0) invert(1);
        height:auto;
        &.dhilLogo{
            max-width:50%;
        }
    }
}

#footer_links{
    margin-right:auto;
     align-self:center;
     
     li{
        border:2px solid transparent;
        transition: border-color 0.3s;
        border-radius:0.2rem;
        background:transparent;
     }
     
     li:hover{
         border-color:rgba(#ffffff, 0.6);
         background:transparent;
         a, a:active{
             background:transparent;
         }
     }
}

#footer_imgs{
    text-align:right;
            align-self:center;
}

@import "_small.scss";
