
/******************************************** NAMESPACES */

@use 'sass:map';

/******************************************** IMPORTS */


@import '_variables.scss';
@import '_scale.scss';
@import '_mixins.scss';
@import '_small.scss';
@import '_keyframes.scss';

/* Note get rid of this import once fonts are actually local */

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

/******************************************** BASIC BODY STYLES */

:root{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $rootSize;
}

body{
    font-family: "Roboto";
    line-height:1.6;
    background-color: #F9F9F9;
    color: $text-color;
    
}

.main{
    min-height:100vh;
}
/******************************************** FOOTER */

footer{
    height:20vh;
    width:100%;
    background:#efefef;
}

/******************************************** INDEX PAGE */


.index{
    font-size:18px;
}



#splash{
    background: url('../images/triangles.png');
    background-size:cover;
    overflow:hidden;
    height:80vh;
    clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 3rem)
  );
  text-transform:uppercase;
  color:white;
    .splash-images{
        display:block;
        position:absolute;
        top:62vh;
        height:35vh;
        left:40vw;
    }
    h1{
        max-width:80%;
        line-height:1.2;
        margin-top:5rem;
    }
}

#index-about{
    margin-top:-5rem;
    line-height: 1.8;
}

/******************************************** BOOTSTRAP OVERRIDES */

.row{
    margin-left:0!important;
    margin-right:0!important;
}


/******************************************** HEADERS */

h1,h2,h3,h4,h5,h6{
    font-family: "PT Sans";
    line-height: 1.6;
}

/* Quick SASS formula for creating heading scale */
@for $i from 1 to 6{
    h#{$i}{
        font-size: map.get($typescale, $i);
    }
}

/* Special headings */

h2.figuration-link-heading{
    font-size: map.get($typescale, 5);
    margin-top:-.2em;
    font-weight:bold;
}

/******************************************** LINKS */
.container a{
    color:inherit;
    border-bottom: 0.1rem solid rgba($yt-red, 0.75);
    text-decoration:none;
    
}

.card h5{
    font-size: map.get($typescale, 6) * 1.2;
    line-height: 1.4;
}

.card .figuration-link{
    font-size: map.get($typescale, 6);
}


.card > a:first-child,
a.btn,
.card h5 > a,
.navbar a{
    border-bottom:none;
}
.container a:hover{
    border-bottom-color:rgba($yt-red, 0.95);
    transition: border-bottom 0.2s ease-in-out;
    text-decoration:none;
}

/******************************************** IFRAME */

/*
 * This is a special way to make the video iframes responsive;
 * credit goes to https://benmarshall.me/responsive-iframes/
 * for the code.
 * 
 */
.iframe-container{
    overflow: hidden;
    /* Calculated by the aspect ratio (i.e 9/16) */
    padding-top: 56.25%;
    position: relative;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}


/******************************************** NAVBAR */

.navbar-default{
    font-size:map.get($typescale, 5);
}

.navbar-default,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav>li>a{
     background: $ps-black!important;
     color: #FFFFFF!important;
     border: none!important;
     box-shadow: none!important;
}


.navbar-nav > li::after{
    content:"";
    display:block;
    height: 4px;
    width: 0px;
    margin:0 auto;
    background:transparent;
    transition: width .5s ease, background-color .5s ease;
}

.navbar-nav > li:hover::after,
.navbar-nav > li.open::after{
    width: 100%;
	background: $text-color-inverse;
}

details{
    margin:1rem;
}
summary{
    font-size: map.get($typescale, 4);
    background:#EFEFEF;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav>.open>a{
    color: $text-color-inverse;
    border-bottom-color: $text-color-inverse;
}

/*.navbar-right > li > a:first-child::before{
    content: '\e008';
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    font-size:0.9em;
    padding-right:.5rem;
}*/

/******************************************** BREADCRUMBS */

/******************************************** PAGINATOR */

.pagination{
   text-transform: lowercase;
   font-variant: small-caps;
   display:flex;
   justify-content:flex-end;
   border-radius:none;
   & > li{
      display: inline-block;
      &:nth-of-type(n+1){
         padding-left: 0px;  
      }
      & > span{
        border-color: #DCDCDC;
        color: $text-color;
        border-radius:0!important;
      }
      &.page-item.disabled > span{
        background: #D4DADE;
        color: #696B6D;
      }
      &.active > span{
        background: $ps-black;
        border-color: $ps-black;
      }
   }
}






/******************************************** PANELS */


.panel{
    box-shadow: 0px 2px 4px rgba(241, 241, 241, 0.1),
                0px 3px 6px rgba(0, 0, 0, 0.15);
    background: #FFFFFF;
    border-radius:0;
}
.panel-default .panel-heading{
    font-size:map.get($typescale, 5);
    background: #E2E2E2;
    border:none;
    border-radius:0;
    font-weight: bold;
}

.panel-heading-count{
    float:right;
    color: $ps-black;
    font-size:map.get($typescale, 6);
    font-weight: normal;
}

.panel-body{
    display:flex;
    flex-direction:row;
    overflow-x:scroll;
}

.panel-see-more::before{
    content: "\002b";
}

/******************************************** GALLERY */

.video-gallery{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-evenly;
    padding: 0 map.get($typescale, 6);
}


/******************************************** CARDS */




.card{
    display:flex;
    flex-direction:column;
    flex: 1 1 20%;
    padding:0;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(241, 241, 241, 0.1),
                0px 3px 6px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 1rem;
    justify-self:flex-start;

}



.card:hover{
    box-shadow: 0px 2px 4px rgba(241, 241, 241, 0.1),
                0px 3px 6px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.2s ease-in-out;

}

.card-title{
    font-weight: bold;
}


.card img{
    min-width: $card-width;
    max-width:100%;
}



.card-body{
    padding:0 1rem;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    height:95%;

}


.figuration-link{
    margin-top:auto;
    margin-bottom: map.get($typescale, 7);
    font-weight:bold;
}

.card .card-img-link{
    height:112%;
    overflow:hidden;
    
}
.card img{
    transform: scale(1);
    transition: transform 0.32s ease-in-out;
}

.card:hover img{
    transform: scale(1.05);
}

.card.see-more{
    box-shadow:none;
    font-size: map.get($typescale, 4);
    justify-content:center;
}

.card.see-more:hover{
    box-shadow:none;
}

.card.see-more > a{
    align-self: center;
}


/******************************************** TAGS */



ul.tags{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: flex-start;
    margin:0;
    padding:0;
}


li.tag{
    display:block;
    margin:0.4rem;
    padding:0.5rem;
    border-radius: 0.25rem;
    background: #FFFFFF;
    color: #000000;
    transition: background-color 0.2s ease-in-out;
    &:hover{
        background: #EFEFEF;
        &::before{
            opacity: 1;
        }
    }
    &::before{
        content: "\e041";
        font-family: "Glyphicons Halflings";
        margin-right:0.5rem;
        font-size:0.9em;
        opacity: 0.7;
        transition: opacity 0.2s ease-in-out;
        
    }
        
    &>a{
        border-bottom: none!important;
    }
    
 

}


/* *TABPAN */

#captions .tab-content{
    min-height: 20rem;
    height:20rem;
    overflow-y:scroll;
    resize: vertical;
}


/* Profiles content */

#profilesContent{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

.profile{
    flex: 1 1 30%;
    margin: map.get($typescale, 7);
      box-shadow: 0px 2px 4px rgba(241, 241, 241, 0.1),
                0px 3px 6px rgba(0, 0, 0, 0.15);
   padding: map.get($typescale, 8) map.get($typescale, 6);
   border-radius: 0.5rem;
  
}


.container.video{
        box-shadow: 0px 2px 4px rgba(241, 241, 241, 0.1),
                0px 3px 6px rgba(0, 0, 0, 0.15);
    background: #FFFFFF;
        border-radius: 0.5rem;

}

.details{
    &:not(.video-show-description){
        padding: map.get($typescale, 6);

    margin: map.get($typescale, 5) 0;
    }
    & + .details {
      border-top: 0.5rem solid rgba($ps-black, 0.1);
    }
    & .table > tbody > tr:first-child > *{
       border-top:none;
   }    
}



.video-show-description > h3{
    margin-top:0;
}

.description-content {
    height: 270px;
    overflow-y: auto;
}

body > .container {
    padding-top: 70px;
    flex: 1;
    flex-wrap:wrap;
}

body > .container.video{
        padding-top: 0;
    margin-top: 5rem;
}

/* Custom app styles */

label.required::after {
    content: ' *';
    color: red;
    font-weight: bold;
    
}


.details-nav{
    margin: 1rem 0;
    
}



/******************************** BUTTONS */


.btn-group strong{
    float:left;
    margin-top:.25rem;
    margin-right: .5rem;
    font-size: map.get($typescale, 5);
}

.btn.btn-default{
    background: #95090C;
    color:white;
    text-shadow:none;
    font-weight:500;
    font-size: map.get($typescale, 6) * 1.1;
    text-transform:lowercase;
    font-variant: small-caps;
}

a[href ^= 'mailto:']::after {
    content: "\2709";
    position: relative;
    top: 1px;
    display: inline-block;
    padding-left: 0.5ex;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a[href ^= 'mailto:']::after {
    content: "\2709";

    position: relative;
    top: 1px;
    display: inline-block;
    padding-left: 0.5ex;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a[href ^= 'http://']::after,
a[href ^= 'https://']::after {
    content: "\e164";

    position: relative;
    top: 1px;
    display: inline-block;
    padding-left: 0.5ex;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 700px) {
    ul.cols-3 {
        -moz-column-count: 3;
        -moz-column-gap: 20px;
        -webkit-column-count: 3;
        -webkit-column-gap: 20px;
        column-count: 3;
        column-gap: 20px;

        list-style: none;
        margin: 0;
        padding: 0;
    }

    ul.cols-3 li {
        position: relative;
        margin-left:14px;
    }

    ul.cols-3 li::before {
        content: '• ';
        position: absolute;
        left: -12px;
    }
}

/*
    Video order display.
*/

p.count .sorted {
    font-weight: bolder;
}

p.count .sorted.desc:after {
    content: '\25B2';
}

p.count .sorted.asc:after {
    content: "\25BC";
}

/*
    Highlight the private information.
*/
.user-user {
    outline: 1px solid red;
    background-color: lightpink;
}
.user-user * {
    background-color: transparent !important;
}
