
<!--Requires parameters: 
    
    VIDEOS
    USE FIGURATION
    -->
<div class="video-gallery">
    {% for video in videos %}
        {% include('card.html.twig') with { 'useFiguration': useFiguration}%}
    {% endfor %}
    
</div>
