@charset "UTF-8";
/******************************************** NAMESPACES */
/******************************************** IMPORTS */
/* Variables */
/* Major third type scale */
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
@media (max-width: 768px) {
  .jumbotron > .container > h1 {
    margin-top: 4rem;
  }

  .container {
    padding-left: 5px;
    padding-right: 5px;
  }

  .video-gallery {
    padding: 0;
  }
  .video-gallery .card {
    width: 210.8px !important;
    min-width: 210.8px !important;
    min-height: 274.04px !important;
    font-size: 0.85rem;
    margin: 0.5rem 0.25rem !important;
  }

  .navbar-nav > li::after {
    content: unset !important;
  }

  ul.tags {
    justify-content: space-around;
  }
  ul.tags > li.tag {
    margin: 0.25rem;
  }
}
/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
/*
Vivify
version: 1.0
Licensed under the MIT license - http://opensource.org/licenses/MIT
The MIT License
Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:
The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
*/
/* 
    Copyright (c) 2017 Martin Knize.
*/
@keyframes hitLeft {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    -webkit-transform: translateX(20px) rotate(4deg);
    transform: translateX(20px) rotate(4deg);
  }
}
/* Note get rid of this import once fonts are actually local */
/******************************************** BASIC BODY STYLES */
:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

body {
  font-family: "Roboto";
  line-height: 1.6;
  background-color: #F9F9F9;
  color: #343434;
}

.main {
  min-height: 100vh;
}

/******************************************** FOOTER */
footer {
  height: 20vh;
  width: 100%;
  background: #efefef;
}

/******************************************** INDEX PAGE */
.index {
  font-size: 18px;
}

#splash {
  background: url("../images/triangles.png");
  background-size: cover;
  overflow: hidden;
  height: 80vh;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 3rem));
  text-transform: uppercase;
  color: white;
}
#splash .splash-images {
  display: block;
  position: absolute;
  top: 62vh;
  height: 35vh;
  left: 40vw;
}
#splash h1 {
  max-width: 80%;
  line-height: 1.2;
  margin-top: 5rem;
}

#index-about {
  margin-top: -5rem;
  line-height: 1.8;
}

/******************************************** BOOTSTRAP OVERRIDES */
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/******************************************** HEADERS */
h1, h2, h3, h4, h5, h6 {
  font-family: "PT Sans";
  line-height: 1.6;
}

/* Quick SASS formula for creating heading scale */
h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

/* Special headings */
h2.figuration-link-heading {
  font-size: 1.25rem;
  margin-top: -0.2em;
  font-weight: bold;
}

/******************************************** LINKS */
.container a {
  color: inherit;
  border-bottom: 0.1rem solid rgba(149, 9, 12, 0.75);
  text-decoration: none;
}

.card h5 {
  font-size: 1.2rem;
  line-height: 1.4;
}

.card .figuration-link {
  font-size: 1rem;
}

.card > a:first-child,
a.btn,
.card h5 > a,
.navbar a {
  border-bottom: none;
}

.container a:hover {
  border-bottom-color: rgba(149, 9, 12, 0.95);
  transition: border-bottom 0.2s ease-in-out;
  text-decoration: none;
}

/******************************************** IFRAME */
/*
 * This is a special way to make the video iframes responsive;
 * credit goes to https://benmarshall.me/responsive-iframes/
 * for the code.
 * 
 */
.iframe-container {
  overflow: hidden;
  /* Calculated by the aspect ratio (i.e 9/16) */
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/******************************************** NAVBAR */
.navbar-default {
  font-size: 1.25rem;
}

.navbar-default,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > li > a {
  background: #414141 !important;
  color: #FFFFFF !important;
  border: none !important;
  box-shadow: none !important;
}

.navbar-nav > li::after {
  content: "";
  display: block;
  height: 4px;
  width: 0px;
  margin: 0 auto;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.navbar-nav > li:hover::after,
.navbar-nav > li.open::after {
  width: 100%;
  background: #FFFFFF;
}

details {
  margin: 1rem;
}

summary {
  font-size: 1.563rem;
  background: #EFEFEF;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .open > a {
  color: #FFFFFF;
  border-bottom-color: #FFFFFF;
}

/*.navbar-right > li > a:first-child::before{
    content: '\e008';
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    font-size:0.9em;
    padding-right:.5rem;
}*/
/******************************************** BREADCRUMBS */
/******************************************** PAGINATOR */
.pagination {
  text-transform: lowercase;
  font-variant: small-caps;
  border-radius: none;
}

.pagination > li {
  display: inline-block;
}

.pagination > li:nth-of-type(n+1) {
  padding-left: 0px;
}

.pagination > li > a {
  border-color: #DCDCDC;
  color: #343434;
  border-radius: 0 !important;
}

.page-item.disabled > a {
  background: #D4DADE;
  color: #696B6D;
}

.pagination li.active > a {
  background: #414141;
  border-color: #414141;
}

/******************************************** PANELS */
.panel {
  box-shadow: 0px 2px 4px rgba(241, 241, 241, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.15);
  background: #FFFFFF;
  border-radius: 0;
}

.panel-default .panel-heading {
  font-size: 1.25rem;
  background: #E2E2E2;
  border: none;
  border-radius: 0;
  font-weight: bold;
}

.panel-heading-count {
  float: right;
  color: #414141;
  font-size: 1rem;
  font-weight: normal;
}

.panel-body {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.panel-see-more::before {
  content: "+";
}

/******************************************** GALLERY */
.video-gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  padding: 0 1rem;
}

/******************************************** CARDS */
.card {
  display: flex;
  flex-direction: column;
  width: 248px;
  min-width: 248px;
  min-height: 322.4px;
  padding: 0;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(241, 241, 241, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 1rem;
}

.card:hover {
  box-shadow: 0px 2px 4px rgba(241, 241, 241, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.2s ease-in-out;
}

.card-title {
  font-weight: bold;
}

.card img {
  width: 248px;
  max-width: 100%;
}

.card-body {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 95%;
}

.figuration-link {
  margin-top: auto;
  margin-bottom: 0.8rem;
  font-weight: bold;
}

.card .card-img-link {
  height: 112%;
  overflow: hidden;
}

.card img {
  transform: scale(1);
  transition: transform 0.32s ease-in-out;
}

.card:hover img {
  transform: scale(1.05);
}

.card.see-more {
  box-shadow: none;
  font-size: 1.563rem;
  justify-content: center;
}

.card.see-more:hover {
  box-shadow: none;
}

.card.see-more > a {
  align-self: center;
}

/******************************************** TAGS */
ul.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

li.tag {
  display: block;
  margin: 0.4rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background: #FFFFFF;
  color: #000000;
  transition: background-color 0.2s ease-in-out;
}
li.tag:hover {
  background: #EFEFEF;
}
li.tag:hover::before {
  opacity: 1;
}
li.tag::before {
  content: "";
  font-family: "Glyphicons Halflings";
  margin-right: 0.5rem;
  font-size: 0.9em;
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
}
li.tag > a {
  border-bottom: none !important;
}

/* *TABPAN */
#captions .tab-content {
  min-height: 20rem;
  height: 20rem;
  overflow-y: scroll;
  resize: vertical;
}

/* Profiles content */
#profilesContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.profile {
  width: 30%;
  min-width: 15rem;
  margin: 0.8rem;
  box-shadow: 0px 2px 4px rgba(241, 241, 241, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.15);
  padding: 0.64rem 1rem;
  border-radius: 0.5rem;
}

.container.video {
  box-shadow: 0px 2px 4px rgba(241, 241, 241, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.15);
  background: #FFFFFF;
  border-radius: 0.5rem;
}

.details:not(.video-show-description) {
  padding: 1rem;
  margin: 1.25rem 0;
}
.details + .details {
  border-top: 0.5rem solid rgba(65, 65, 65, 0.1);
}
.details .table > tbody > tr:first-child > * {
  border-top: none;
}

.video-show-description > h3 {
  margin-top: 0;
}

.description-content {
  height: 270px;
  overflow-y: auto;
}

body > .container {
  padding-top: 70px;
  flex: 1;
  flex-wrap: wrap;
}

body > .container.video {
  padding-top: 0;
  margin-top: 5rem;
}

/* Custom app styles */
label.required::after {
  content: " *";
  color: red;
  font-weight: bold;
}

.details-nav {
  margin: 1rem 0;
}

.btn-group strong {
  float: left;
  margin-top: 0.25rem;
  margin-right: 0.5rem;
  font-size: 1.25rem;
}

a[href^="mailto:"]::after {
  content: "✉";
  position: relative;
  top: 1px;
  display: inline-block;
  padding-left: 0.5ex;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a[href^="mailto:"]::after {
  content: "✉";
  position: relative;
  top: 1px;
  display: inline-block;
  padding-left: 0.5ex;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a[href^="http://"]::after,
a[href^="https://"]::after {
  content: "";
  position: relative;
  top: 1px;
  display: inline-block;
  padding-left: 0.5ex;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 700px) {
  ul.cols-3 {
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul.cols-3 li {
    position: relative;
    margin-left: 14px;
  }

  ul.cols-3 li::before {
    content: "• ";
    position: absolute;
    left: -12px;
  }
}
/*
    Video order display.
*/
p.count .sorted {
  font-weight: bolder;
}

p.count .sorted.desc:after {
  content: "▲";
}

p.count .sorted.asc:after {
  content: "▼";
}

/*
    Highlight the private information.
*/
.user-user {
  outline: 1px solid red;
  background-color: lightpink;
}

.user-user * {
  background-color: transparent !important;
}

/*# sourceMappingURL=base.css.map */
