{% extends 'base.html.twig' %}

{% block mainclass %}index{%endblock%}

{% block hero %}
<section id="splash" class="jumbotron">
   
    <div class="container">
        <div id="logo">PI</div>
        <h1 class="site-title">
            
            The Photoshop Inscriptions Project</h1>
        <div class="byline">
            <div>Frédérik Lesage, School of Communication</div>
            <div>Simon Fraser University</div>
        </div>
    
    </div>

       
    <img src="{{asset('images/cascade.png')}}" class="splash-images"/>
</section>

{% endblock %}
{% block body %}

    <main>
       
        <section id="index-about">
            <h2>About</h2>
            <p>All cultural practices involve <em>creative technicities</em>; assemblages of devices, skills, and techniques for creating cultural artefacts. Traditionally, these technicities have (at best) been conflated with the formal qualities of specific cultural formations or (at worst) as mere tools or stylistic accessories involved in content creation. Our objective in <em>Photoshop Inscriptions</em> was to conduct an <em>infrastructural inversion</em> (Bowker &amp; Star 2000) that treated the inscription and dissemination of creative technicities as a cultural practice in and of itself, namely how people create and share photoshopping videos on YouTube.</p> 
            
            <p>Our goal was to show how Photoshop was more than digital code or a software tool. Its features and functions have become constituent parts of a whole range of work and leisure practices that include journalism, graphic design, illustration, and entertainment. Rather than assuming that all of these videos constituted ‘technical communication’—informational inscriptions <em>about</em> Photoshop for instrumental purposes—we chose instead to treat them as <em>figurations</em> —as normative patterns of action with Photoshop that render expectations for how certain cultural practices are to be performed (see Couldry &amp; Hepp (2016) for more details).</p> 
            
            <p>This website gives you access to the entire corpus of videos collected as part of the investigation as well as some of the metadata and analysis generated from the research.</p> 
            
            <p>For more details about the project please see the <a>Project Documentation</a>.</p>
            
            <details open="open">
                <summary>References</summary>
                <ul class="bibliography">
                    <li>Bowker, G. C., &amp; Star, S. L. (2000). <em>Sorting Things Out: Classification and its consequences</em>. Cambridge, Mass.: MIT Press.</li>
                    <li>Couldry, N., &amp; Hepp, A. (2016). <em>The mediated construction of reality: Society, culture, mediatization</em>. Cambridge, UK : Polity Press.</li>
                </ul>
            </details>
            
        </section>
    </main>

{% endblock %}
