{% extends 'base.html.twig' %}

{% block mainclass %}index{%endblock%}

{% block hero %}
<section id="splash" class="jumbotron">
   
    <div class="container">
        <div id="logo">PI</div>
        <h1 class="site-title">
            
            The Photoshop Inscriptions Project</h1>
        <div class="byline">
            <div>Frédérik Lesage, Department of Communication</div>
            <div>Simon Fraser University</div>
        </div>
    
    </div>

       
    <img src="{{asset('images/cascade.png')}}" class="splash-images"/>
</section>

{% endblock %}
{% block body %}

    <main>
       
        <section id="index-about">
            <h2>About</h2>
            <p>Welcome to the Photoshop Inscriptions Project.
            </p>
            
        </section>
    </main>

{% endblock %}
