{% extends 'base.html.twig' %}

{% block mainclass %}index{%endblock%}

{% block hero %}
<section id="splash" class="jumbotron">
   
    <div class="container">
        <div id="logo">PI</div>
        <h1 class="site-title">
            
            The Photoshop Inscriptions Project</h1>
        <div class="byline">
            <div>Frédérik Lesage, School of Communication</div>
            <div>Simon Fraser University</div>
        </div>
    
    </div>

       
    <img src="{{asset('images/cascade.png')}}" class="splash-images"/>
</section>

{% endblock %}
{% block body %}

    <main>
       
        <section id="index-about">
            <h2>About</h2>
            <p>Cultural production involves <em>creative technicities</em>—assemblages of people, practices, devices, symbolic content, and skills—that enable and constrain the creation of cultural artefacts. Traditionally, these technicities are described by (at best) simplifying them into static genres of cultural practice or (at worst) conflating them with the formal qualities of specific tools or stylistic accessories. Photoshopping is a great contemporary example of this kind of conflation. Our objective in <em>Photoshop Inscriptions</em> was to conduct an <em>infrastructural inversion</em> (Bowker & Star 2000) that treated the mediatization of Photoshopping as part of a creative technicity. In other words, we asked: what kind of culture is produced when people use YouTube to create and share photoshopping?</p>

            <p>Our goal was to show how Photoshop was more than digital code or a software tool. Its features and functions have become constituent parts of a whole range of work and leisure practices that include journalism, graphic design, illustration, and entertainment. Rather than assuming that all of these videos constituted ‘technical communication’—informational inscriptions about Photoshop for instrumental purposes—we chose instead to treat them as <em>figurations</em>—as normative patterns of action with Photoshop that render expectations for how certain cultural practices are to be performed (see Couldry & Hepp (2016) for more details).</p>
            
            <p>This website gives you access to the entire corpus of videos collected as part of the investigation as well as some of the metadata and analysis generated from the research.</p> 
            
            <p>For more details about the project please see the <a href="{{ path('nines_blog_page_show', { 'id': 1 }) }}">Project Documentation</a>.</p>
            
            <details open="open">
                <summary>References</summary>
                <ul class="bibliography">
                    <li>Bowker, G. C., &amp; Star, S. L. (2000). <em>Sorting Things Out: Classification and its consequences</em>. Cambridge, Mass.: MIT Press.</li>
                    <li>Couldry, N., &amp; Hepp, A. (2016). <em>The mediated construction of reality: Society, culture, mediatization</em>. Cambridge, UK: Polity Press.</li>
                </ul>
            </details>
            
        </section>
    </main>

{% endblock %}
