{% extends 'base.html.twig' %}

{% block pageheader %} 
    <h1>Playlist List</h1>
    <p class="count">
        Displaying {{ playlists|length }} playlists of {{ playlists.getTotalItemCount }} total.
    </p>
{% endblock %} 

{% block body %}

    {% for playlist in playlists %}
    {% set path = path('playlist_show', {'id': playlist.id}) %}
        {% include('panel.html.twig') with {title: playlist.title, useFiguration: 'true', videos: playlist.videos, path: path} %}
    {% endfor %}

    <div class="navigation clearfix">
        {{ knp_pagination_render(playlists) }}
    </div>

{% endblock %}
