{% extends 'base.html.twig' %}

{##############################################
#                 VARIABLES                   #
##############################################}

{% set title = 'Figurations' %}

{##############################################
#               TITLE BLOCK                   #
##############################################}

{% block title %}
    {{ title }}
{% endblock %}


{##############################################
#             PAGE HEADER BLOCK               #
##############################################}

{% block pageheader %}
    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Home</a></li>
        <li class="active">{{ title }}</li>
    </ol>
    <h1>{{ title }}</h1>
{% endblock %}

{##############################################
#                BODY BLOCK                   #
##############################################}

{% block body %}
    {% for term in figurations %}
        {% set path = path('figuration_show', {'id': term.id}) %}
            {% include('panel.html.twig') with {title: term.label, videos: term.videos, useFiguration: 'false', path: path} %}
    {% endfor %}
{% endblock %}
