{% extends 'base.html.twig' %}

{% block pageheader %}
    <h1>Welcome</h1>
{% endblock %}

{% block body %}

    <p>Photoshop Inscriptions</p>
    
    <ul>
        <li><a href="https://developers.google.com/youtube/v3/docs/">Youtube API</a></li>
        <li><a href="https://developers.google.com/apis-explorer/#p/youtube/v3/">Youtube Data Explorer</a></li>
    </ul>

{% endblock %}
